.base {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 20px;

  &__zen {
    height: calc(100vh - 100px);
    margin: 40px 0 20px;
    align-items: center;
    justify-content: space-evenly;
  }
}
