$white: #ffffff;
$black: #000000;
$beige: #d5e3c3;
$deepBlue: #00213d;
$blue: #365a7c;
$steelBlue: #4e6c8f;
$lightBlue: #6b8aad;
$red: #d34b4b;
$gray: #a8a8a8;
$darkGray: #6d6d6d;
$green: #105727;
$lightGreen: #2e884b;

$never: 9999999999s;
