@import "assets/styles/constants";

.base {
  position: absolute;
  margin: 0 auto;
  width: fit-content;
  height: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
  background-color: $deepBlue;
  border: 1px solid $blue;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  padding: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  transition: transform 0.5s;

  &__hidden {
    transform: translateY(100%);
  }
}

.group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator {
  position: relative;
  height: 20px;
  background-color: $beige;
  border-radius: 5px;
  border: 2px solid $blue;
  padding: 0 5px;
  color: $blue;
  cursor: pointer;
  user-select: none;
  font-family: monospace;
  transition: border-color 0.1s, background-color 0.1s, color 0.1s;

  &:hover {
    border-color: $beige;
    color: $black;
  }

  &__inactive {
    background-color: $deepBlue;
    border-color: $blue;

    &:hover {
      color: $beige;
    }
  }

  &:disabled {
    background-color: $gray;
    border-color: $darkGray;
    color: $darkGray;
    cursor: not-allowed;

    &:hover {
      border-color: $darkGray;
      color: $darkGray;
      background-color: $gray;
    }
  }

  &__fill {
    color: $beige;
    background-color: $black;
    border-color: $beige;

    &:hover {
      border-color: $white;
      color: $white;
      background-color: $blue;
    }
  }

  &__eraser {
    color: $beige;
    background-color: $red;
    border-color: $beige;

    &:hover {
      border-color: $lightBlue;
      color: $lightBlue;
    }
  }

  &__instant {
    color: $red;
    border-color: $red;
  }

  &__zen {
    color: $white;
    background-color: $black;
    border-color: $white;

    &:hover {
      color: $white;
      background-color: $blue;
    }
  }
}

.selectBase {
  position: relative;
}

.select {
  background-color: $lightBlue;
  border-radius: 5px;
  padding: 2px;
  position: absolute;
  display: flex;
  gap: 2px;
  top: -35px;
  left: 50%;
  width: fit-content;
  z-index: 1;
  transform: translateX(-50%);
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $lightBlue;
    left: 50%;
    bottom: -9px;
    transform: translateX(-50%);
  }
}

.arrow {
  position: absolute;
  border-radius: 5px 5px 0 0;
  top: -20px;
  left: 50%;
  height: 20px;
  width: 100px;
  transform: translateX(-50%);
  border: 1px solid $blue;
  border-bottom-color: $deepBlue;
  background-color: $deepBlue;
  z-index: 0;
  opacity: 1;
  cursor: pointer;
  transition: opacity 0.3s;

  &::after {
    content: ">";
    width: fit-content;
    margin: 0 auto;
    display: block;
    color: $beige;
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  &__hidden::after {
    transform: rotate(-90deg);
  }
}
