@import "assets/styles/constants";

.base {
  background-color: $blue;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
}

.group {
  margin-top: 5px;
  background-color: $lightBlue;
  border: 1px solid $deepBlue;
  border-radius: 5px;
  padding: 10px;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;
  &:first-child {
    margin-top: 0;
  }

  &__checkbox:hover {
    border-color: $beige;
    color: $blue;
  }
}

.title {
  display: block;
  text-align: center;
}

.select {
  border: 1px solid $deepBlue;
  border-radius: 5px;
  padding-inline: 5px;
  text-align: center;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    color: $lightBlue;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    outline-color: $lightBlue;
  }
}

.label {
  display: flex;
  user-select: none;
  cursor: pointer;
  transition: color 0.2s;

  &:hover {
    color: $blue;
  }

  .label_span__disabled {
    color: $blue;
    cursor: not-allowed;
    &:hover {
      color: $gray;
    }
  }
}

.clear {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox {
  margin-right: 10px;
}

.button {
  border-radius: 5px;
  border: 1px solid $deepBlue;
  color: $deepBlue;
  display: block;
  margin: 0 auto;
  background-color: $beige;
  height: 27px;
  width: 50px;
  transition: border-color 0.2s, background-color 0.2s, color 0.2s;

  &:hover {
    background-color: $lightBlue;
  }

  &__single {
    margin-top: 5px;
    width: 100%;
  }

  &__clear {
    background-color: $red;
    color: $white;

    &:hover {
      background-color: $beige;
      color: $red;
    }
  }

  &__generate {
    font-size: 25px;
    height: 40px;
    width: 80%;
    margin-top: 5px;
  }
}

.buttonGroup {
  display: flex;
  gap: 5px;
  justify-content: center;
  margin-top: 5px;

  .button {
    margin: 0;
    flex: auto;
  }
}

.slider {
  display: block;
  width: 100%;
}

.flexGroup {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.brush_surrounding {
  margin: 10px auto 0;
  position: relative;
  border-radius: 5px;
  outline: 1px solid $deepBlue;
  height: 50px;
  width: 50px;
  background-color: $white;
  overflow: hidden;

  &__erasing {
    background-color: $black;
  }
}

.brush_sample {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: $black;

  &__erasing {
    background-color: $white;
  }

  &__rectangle {
    border-radius: 0;
  }
}
