@import "assets/styles/constants";

.base {
  padding: 2px;
  background-color: $blue;
  border-radius: 5px;
  position: relative;
  height: fit-content;
}

.container {
  min-width: 512px;
  min-height: 512px;
  display: grid;
  &__2c {
    grid-template-columns: 1fr 1fr;
  }
}

.title {
  color: $beige;
  text-align: center;
  width: 100%;
  height: 20px;
}

.imageWrapper {
  position: relative;
}

.seed {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%, -50%);
  background-color: $deepBlue;
  color: $beige;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s;

  .imageWrapper:hover & {
    opacity: 0.7;
  }
}

.image {
  display: block;
  background-color: $blue;
  cursor: pointer;
  transition: opacity 0.3s, filter 0.3s;

  &:hover {
    filter: sepia(0.2) brightness(0.9);
  }

  &__waiting {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
}

.progress {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.3;
  overflow: hidden;
  width: 80px;
  height: 80px;
  transition: all 0.3s;
  animation: loading 1.2s linear infinite;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
    animation-delay: $never;
    transform: translate(-50%, -50%) rotate(-45deg);
    &:before,
    &:after {
      border-radius: 0;
      width: 50px;
      height: 50px;
    }
    &:before {
      border-color: transparent transparent $red $red;
      transform: translate(calc(0% - 3px), calc(-100% + 3px));
    }
    &:after {
      border-color: $red $red transparent transparent;
      transform: translate(calc(-100% + 3px), calc(0% - 3px));
    }
  }
}

.loader:before {
  content: " ";
  position: absolute;
  display: block;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 6px solid;
  border-color: transparent transparent $deepBlue transparent;
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader:after {
  content: " ";
  position: absolute;
  display: block;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  border: 6px solid;
  border-color: $beige transparent transparent transparent;
  transition: all 0.3s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes loading {
  0% {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(405deg);
  }
}
