@import "assets/styles/constants";

.base {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 10px 10px 0;
  background-color: $blue;
  border-radius: 5px;
  padding: 10px;
  transition: margin 0.3s, transform 0.5s;
  z-index: 1;
  border: 1px solid $deepBlue;
  top: 0;
  width: calc(100% - 20px);

  &__zen {
    position: absolute;
    margin-top: -1px;
    border-radius: 0 0 5px 5px;
    transform: translateY(0%);
  }

  &__hidden {
    transform: translateY(-100%);
  }
}

.group {
  display: flex;

  &__prompt {
    flex: 1 1 100px;
    flex-direction: column;
  }
  &__miscellaneous {
    flex: 2 1 200px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
}

.title {
  text-align: center;
  display: block;
  color: $beige;
}

.textarea {
  margin-top: 5px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  resize: none;
  border: 1px solid $deepBlue;
  transition: color 0.2s, outline-color 0.2s;

  &:hover {
    color: $lightBlue;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    outline-color: $lightBlue;
  }
}

.numberInput {
  border: 1px solid $deepBlue;
  border-radius: 5px;
  padding-inline: 5px;
  text-align: center;
  margin-top: 5px;
  transition: color 0.2s, outline-color 0.2s;

  &:hover {
    color: $lightBlue;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    outline-color: $lightBlue;
  }
}

.select {
  border: 1px solid $deepBlue;
  border-radius: 5px;
  padding-inline: 5px;
  text-align: center;
  margin-top: 5px;
  transition: color 0.2s, outline-color 0.2s;

  &:hover {
    color: $lightBlue;

    &:focus {
      color: $black;
    }
  }

  &:focus {
    outline-color: $lightBlue;
  }
}
