@import "assets/styles/constants";

.arrow {
  position: absolute;
  z-index: 1;
  background-color: $blue;
  border: 1px solid $deepBlue;
  transition: opacity 0.3s;
  opacity: 1;
  pointer-events: all;
  cursor: pointer;

  &__hidden {
    opacity: 0;
    pointer-events: none;
    cursor: default;
  }

  &__top,
  &__bottom {
    transform: translateX(-50%);
    left: 50%;
    height: 20px;
    width: 100px;
  }

  &__left,
  &__right {
    transform: translateY(-50%);
    top: 50%;
    width: 20px;
    height: 100px;
  }

  &__top {
    top: -20px;
    border-radius: 5px 5px 0 0;
    border-bottom: none;
  }

  &__bottom {
    bottom: -20px;
    border-radius: 0 0 5px 5px;
    border-top: none;
  }

  &__left {
    left: -20px;
    border-radius: 5px 0 0 5px;
    border-right: none;
  }

  &__right {
    right: -20px;
    border-radius: 0 5px 5px 0;
    border-left: none;
  }
}

.arrow_symbol {
  width: fit-content;
  margin: 0 auto;
  display: block;
  color: $beige;
  transition: transform 0.3s;
  user-select: none;

  .arrow__left &,
  .arrow__right & {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }

  .arrow__top & {
    transform: rotate(-90deg);
  }

  .arrow__top.arrow__off & {
    transform: rotate(90deg);
  }

  .arrow__bottom & {
    transform: rotate(90deg);
  }

  .arrow__bottom.arrow__off & {
    transform: rotate(-90deg);
  }

  .arrow__left.arrow__off & {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .arrow__right & {
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .arrow__right.arrow__off & {
    transform: translate(-50%, -50%);
  }
}
